<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="defaultStatementTimeout" value="10000"/>
        <!--支持数据库字段驼峰转换-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!--<plugins>-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
            <!--<property name="helperDialect" value="mysql"/>-->
            <!--<property name="reasonable" value="false"/>-->
            <!--<property name="supportMethodsArguments" value="true"/>-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>